/* CSS (Created in New File)*/

/* The background of the page */
 body{
   background: url('../assets/GPA\ -\ background.jpg'); /* Background Image */
 }

 /* The top row font size*/
 th{
   font-size: 15px; /* Font size */
   color: rgb(255, 255, 255); /* Font color */
   border-width: 5px; /* Specifies the how thick the boarder of an element is. */
   border-style: groove; /* Specifies boarder syle. */
   border-color: rgb(255, 255, 255); /* Border color */
   background: rgb(151, 153, 153); /* Background Color */
 }

 .a{  /* Background of the middle row */
     border-width: 5px; /* Specifies the how thick the boarder of an element is. */
     border-style: groove; /* Specifies boarder syle. */
     background: rgb(49, 224, 236); /* Background Color */
     height: 20px; /* Specifies the height of an element. */
 }
 
 .b{ /* Background of the bottom row */
     border-width: 5px; /* Specifies the how thick the boarder of an element is. */
     border-style: groove; /* Specifies boarder syle. */
     background: rgb(49, 224, 236); /* Background Color */
     height: 20px; /* Specifies the height of an element. */
 }
 
 section{ /* Border Background  */
    margin: auto; /* To horizontally center a block element, use margin: auto  */
    border-width: 5px; /* Specifies the how thick the boarder of an element is. */
    border-style: groove; /* Specifies boarder syle. */
    border-color: rgb(255, 255, 255); /* Border color */
    text-align: center;
    width: 500px;
    padding: 10px;
    background: rgb(40, 50, 51); /* Background Color */
 }

 table{ /* Table Font size  */
    font-size: 30px; /* Font size */
    color: rgb(255, 255, 255); /* Font color */
    border-width: 5px; /* Specifies the how thick the boarder of an element is. */
    border-style: groove; /* Specifies boarder syle. */
 } 
 h1{ /* Header Font size  */
    font-size: 40px; /* Font size */
    color: rgb(255, 255, 255); /* Font color */
    border-style: groove; /* Specifies boarder syle. */
    border-width: 5px; /* Specifies the how thick the boarder of an element is. */
 }

 #error{ /* Error Background */
    color: red; /* Font color */
 }

/* Intructions Styling */
h3{ /* Instructions Header  */
   font-size: 40px; /* Header Font size  */
   text-align: center; /* Text Position  */
   margin-bottom: -7px; /* Reduce spacing between Header and next element */
}
ol{ /* Instructions List  */
   font-size: 20px; /* List Font size  */
   text-align: center; /* Text Position  */
   list-style-position: inside; /* List Position  */
}

/* Navigation Bar Styling */
.navbar{
   width: 85%;
   margin: auto;
   padding: 35px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.navbar ul li{
   list-style: none;
   display: inline-block;
   padding: 8px 12px;
   position: relative;
}
.navbar ul li a{
   text-decoration: none;
   color: rgb(51, 51, 51);
   text-transform: uppercase;
}
.navbar ul li::after{
   content: '';
   height: 3px;
   width: 0%;
   background: rgb(255, 154, 22);
   display: block;
   margin: auto;
   left: 0;
   bottom: -10px;
   transition: 0.5s;
}
.navbar ul li:hover::after{
   width: 100%;
}
@media (max-width: 700px) {
   .navbar ul li{
       display: block;
   }
   .navbar{
       position: absolute;
       background: #ddd;
       height: 100vh;
       width: 200px;
   }
}
/* End of CSS */