*{
  margin: 0;
  padding: 0;
}


body{
  height: auto;
  width: 100%;
  background-image:linear-gradient(rgb(140, 219, 255), rgb(234, 248, 255));
  background-attachment: fixed;
}

/*Top navagation bar*/
.title{
  flex: 1;
  color: rgb(140, 219, 255);
  font-size: 30;
}

nav{
  height: 50px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  background-image: linear-gradient(#312f30,#0f0b0c)
  
}

.navbar{
  color:rgb(140, 219, 255);
  width: 100%;
  padding: 35px ;
  display: flex;
  justify-content: space-between;
}

.navbar_menu{
  flex: 1;
  text-align: right;
}

.navbar_menu ul li{
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}

.navbar_menu ul li a{
  color: rgb(140, 219, 255);
  text-decoration: none;
}

/* interactive slideshow scrolling*/
.slideshow{
  width: 100%;
  overflow: hidden;
}

.slides{
  width: 500%;
  display: flex;
}


.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img{
  width: 1920px;
  max-width: 100%;
  max-height: 100%;
}

.slidepage{
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.btn_pgnum{
  border: 2px solid rgb(140, 219, 255);
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s;
  margin-right: 40px;
}

.btn_pgnum:hover{
  background: rgb(140, 219, 255);
}

#btn1:checked ~ .first{
  margin-left:0
}
#btn2:checked ~ .first{
  margin-left:-20%
}
#btn3:checked ~ .first{
  margin-left:-40%
}

/*explaining apps*/
.AdApps{
  width: 93%;
  padding: 35px ;
  display: flex;
  justify-content: space-between;
}
.AdApps section{
  width: 32%;
  flex: 1;
  text-align: center;
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
}

.AdApps section p{
font-size: 100;
}
.AdApps section a{
  width: 100%;
  display: flex;
  justify-content: center;
}


/*Slide show effect*/
.autoslide{
  position: absolute;
  width: 100%;
  margin-top:65%;
  display: flex;
  justify-content: center;
}

.autoslide div{
  border: 2px solid rgb(140, 219, 255);
  padding: 5px;
  border-radius: 50%;
  transition: 1s;
  margin-right: 40px;
}

#btn1:checked ~ .autoslide .auto_p1{
  background: rgb(140, 219, 255);
}
#btn2:checked ~ .autoslide .auto_p2{
  background: rgb(140, 219, 255);
}
#btn3:checked ~ .autoslide .auto_p3{
  background: rgb(140, 219, 255);
}
