* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    overflow-x: hidden; 
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: -webkit-repeating-linear-gradient(rgb(255, 255, 255), rgba(128, 186, 219, 0.822))
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #fc812f;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 900px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    #map {
        width: auto;
    }
}

@media screen and (max-width: 900px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.container {
    width: 100%;
    height: 75vh;
    float: inline-start;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    border: 40px;
}

.title1 {
    transform-origin: center;
    margin-left: 4rem;
    margin-top: 1rem;
}

.swiper-container {
    width: 100%;
    height: 70vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgb(211, 82, 82);
    border-radius: 9px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
}

.slide1 {
    background-image: url("/assets/Academic.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.slide2 {
    background-image: url("/assets/Atrium.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.slide3 {
    background-image: url("/assets/vorhees.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.slide4 {
    background-image: url("/assets/L_building.PNG");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.slide5 {
    background-image: url("/assets/general_b.PNG");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.slide6 {
    background-image: url("/assets/p_building.PNG");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.slide7 {
    background-image: url("/assets/howard_b.PNG");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.slide8 {
    background-image: url("/assets/enviro.PNG");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 300%;
    object-fit: cover;

}

.container_2 {
    display: flexbox;
    border: 20px solid transparent;
    box-sizing: border-box;
}

.container_2 h1 {
    margin-bottom: 30px;
}

.box1,.box2,.box3,.box4,
.box5,.box6,.box7,.box8 {

    background:linear-gradient(#ff8838a6, #c4bfbaaf);
    justify-content: center;
    height: 11rem;
    width: 11em;
    margin-bottom: auto;
    shape-outside: margin-box;
    margin-block-end: 2vh;
}

#text a {
    background-color: transparent;
    font-size: 25px;
    color: black;
    justify-content: baseline;
}

.map-wrapper {
    width: 80%;
    align-items: center;
    justify-content: center;
    display: flex;
}

#map {
    height: 30rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-bottom: 50px;
}

.content-box {
    width: 50px;
    height: 40px;
    background-color: wheat;
}

.overlay-container {
    background-color: rgb(255, 254, 254);
    width: 10rem;
    color: black;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    padding: 0.5em 0.2em;
    position: flex;
    bottom: 100%;
}

.container_3 {
    background-color: transparent;
    height: 60px;
    width: 100%;
    margin-left: 25%;
}

.footer {
    background-color: black;
    width: 100%;
    height: 50px;
}